<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá colaborador, <%= @user %></h1>
    <p>
      O resultado da pesquisa saiu e a nota média foi: <%= @result %>
    </p>
  </body>
</html>